/*
--font-xl: clamp(2rem, 3.5vw, 3.5rem);
--font-l: 42px;
--font-m: 27px;
--font-s: 23px;
--font-xs: 17px;  
*/

/* h1 {
  font-size: var(--font-xl);
  font-weight: 600;
} */

/* h2 {
  font-size: var(--font-m);
  font-weight: 500;
  margin-bottom: 1rem;
} */

h3 {
  font-size: var(--font-m);
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-size: var(--font-s);
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  font-size: var(--font-paragraph);
  margin-bottom: 0.7rem;
}

/* Major Fontstyles */

.section-title {
  font-size: var(--font-l);
  font-weight: 500;
  margin-bottom: 1rem;
}

.sub-title {
  font-size: var(--font-m);
  font-weight: 500;
  margin-bottom: 1rem;
}

.card-title {
  color: purple;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card-heading {
  color: red;
  font-size: 1.75rem;
}

/* Additional Fontstyles */

.hero-title {
  color: white;
  font-size: clamp(2.6rem, 3.5vw, 6rem);
  font-weight: 500;
}

.footer-title {
  color: var(--color-2);
  font-size: var(--font-m);
  font-weight: 400;
  margin-bottom: 1rem;
}

.some-title {
  color: white;
  font-size: var(--font-s);
  font-weight: 400;
}
