/* Large breakpoint */
@media screen and (max-width: 1360px) {
  .primary-nav {
    display: none;
  }

  .flex-space-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-l);
  }

  .flex-row-rev-space {
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-row-rev-flip {
    flex-direction: column-reverse;
    align-items: center;
  }

  .grid-section--1 {
    grid-template-columns: 1fr;
  }

  .grid-section--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-section--3 {
    display: flex;
    flex-direction: column;
  }

  .grid-section--4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-section--5 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--gap-m);
  }

  /* Explore */

  .kids-section-grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }

  /* Exhibition */

  .exhibition-section:nth-child(1) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(2) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(3) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(4) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(5) {
    grid-column: 1 / 2;
  }

  /* Special Events */

  .article-margin {
    margin: auto;
  }

  .event-card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .event-card-item:nth-child(1) {
    order: 1;
  }

  .event-card-item:nth-child(2) {
    order: 2;
  }
}

/* Mobile devices */
@media screen and (max-width: 390px) {
  .grid-section--2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-h {
    height: auto;
  }

  /* Explore */

  .graphic-element-youngstar {
    display: none;
  }
}

/* Responsive Menu */

@media (min-width: 1360px) {
  nav {
    display: block;
    position: static;
  }

  .nav-list {
    display: flex;
  }

  .hamburger-icon {
    display: none;
  }

  .page-tag-details::before {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }

  nav a {
    display: inline-block;
  }
}

@media (max-width: 1360px) {
  nav {
    background: var(--color-1);
    margin-top: 10rem;
    width: 100%;
    padding: 20px 0px;
    border-radius: var(--border-normal);
    z-index: 10;
  }
}
