/* Medium devices */
@media screen and (max-width: 1000px) {
  /* body {
    background: rgb(139, 0, 139);
  } */

  .primary-nav {
    display: none;
  }

  .flex-row-rev-space {
    flex-direction: column;
  }

  .grid-section--1 {
    grid-template-columns: 1fr;
  }

  .grid-section--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-section--3 {
    grid-template-columns: 1fr;
  }

  .grid-section--4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-section--5 {
    grid-template-columns: 1fr;
  }

  .card-prop {
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  /* Explore */

  .kids-section-grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }

  /* Exhibition */

  .exhibition-section:nth-child(1) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(2) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(3) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(4) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(5) {
    grid-column: 1 / 2;
  }

  /* Special Events */

  .article-margin {
    margin: auto;
  }

  .event-card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .event-card-item:nth-child(1) {
    order: 1;
  }

  .event-card-item:nth-child(2) {
    order: 2;
  }
}

/* Small devices */
@media screen and (max-width: 510px) {
  body {
    background: rgb(183, 255, 178);
  }

  .grid-section--2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
