/* Medium devices */
@media screen and (max-width: 1000px) {
  /* body {
    background: rgb(139, 0, 139);
  } */

  .primary-nav {
    display: none;
  }

  .flex-row-rev-space {
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-row-rev-flip {
    flex-direction: column-reverse;
    align-items: center;
  }

  .grid-section--1 {
    grid-template-columns: 1fr;
  }

  .grid-section--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-section--3 {
    grid-template-columns: 1fr;
  }

  .grid-section--4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-section--5 {
    grid-template-columns: 1fr;
  }

  /* .grid-section--footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .footer-item:nth-child(1) {
    display: grid;
    grid-column: 1 / 4;
    border: blue 1px solid;
    justify-items: end;
  } */

  .card-prop {
    padding: 0.8rem;
    margin-bottom: 1rem;
  }

  /* Explore */

  .kids-section-grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }

  /* Exhibition */

  .exhibition-section:nth-child(1) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(2) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(3) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(4) {
    grid-column: 1 / 2;
  }

  .exhibition-section:nth-child(5) {
    grid-column: 1 / 2;
  }

  /* Special Events */

  .article-margin {
    margin: auto;
  }

  .event-card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .event-card-item:nth-child(1) {
    order: 1;
  }

  .event-card-item:nth-child(2) {
    order: 2;
  }
}

/* Small devices */
@media screen and (max-width: 400px) {
  .grid-section--2 {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Explore */

  .graphic-element-youngstar {
    display: none;
  }
}

/* Responsive Menu - Start */

@media (min-width: 1000px) {
  nav {
    display: block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  nav {
    background: var(--color-1);
    margin-top: 10rem;
    width: 100%;
    padding: 20px 0px;
    border-radius: var(--border-normal);
  }
}

/* Responsive Menu - End */
