*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-1: #8a35f5;
  --color-2: #64ed4e;
  --color-3: #ff6846;
  --color-4: #2f3e45;
  --color-5: #e6f4f9;

  --color-1-trans: rgba(138, 53, 245, 0.4);
  --color-2-trans: rgba(100, 237, 78, 0.4);
  --color-3-trans: rgba(255, 104, 70, 0.4);
  --color-4-trans: rgba(47, 62, 69, 0.4);

  --border-normal: 5px;
  --border-all: 2px solid rgba(0, 0, 0, 0.1);

  --font-xl: clamp(1.85rem, 3.5vw, 3.2rem);
  --font-l: clamp(1.75rem, 3.5vw, 2.4rem);
  --font-m: clamp(1.45rem, 3.5vw, 1.3rem);
  --font-s: clamp(1.3rem, 3.5vw, 1rem);
  --font-xs: clamp(0.9rem, 3.5vw, 0.8rem);
  --font-paragraph: 1.25rem;

  --gap-xxl: 5rem;
  --gap-l: 1.5rem;
  --gap-m: 1rem;
  --gap-s: 0.5rem;

  --transition-1: 300ms ease;
  --transition-2: 180ms ease;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--color-5);
}

.container {
  width: min(100% - 1rem, 95em);
  margin-inline: auto;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  /**/
  gap: 3rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.wrap-gap {
  gap: 3rem;
}

.section-gap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  border: red 2px dashed;
}

/* Responsive Header - Start */

#menu-checkbox,
nav {
  display: none;
}

header {
  position: relative;
}

nav {
  position: absolute;
  /* background: var(--color-1); */
  top: 0;
  left: 0;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.nav-item {
  list-style: none;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 0px;
}

.fa-bars {
  color: white;
  font-size: 2rem;
}

/* Responsive Header - End */

/* Header */

.primary-header {
  background: rgb(74, 21, 110);
  background: linear-gradient(
    118deg,
    rgba(74, 21, 110, 1) 0%,
    rgba(185, 29, 253, 1) 50%,
    rgba(252, 107, 69, 1) 100%
  );
  padding: 2rem;
}

.website-logo img {
  width: min(100% - 1rem, 95em);
}

/* .nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
} */

.nav-link {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  transition: var(--transition-1);
}

.nav-link:hover {
  color: var(--color-2);
}

.page-tag-01::before {
  content: "01";
}

.page-tag-02::before {
  content: "02";
}

.page-tag-03::before {
  content: "03";
}

.page-tag-04::before {
  content: "04";
}

.page-tag-05::before {
  content: "05";
}

.page-tag-06::before {
  content: "06";
}

.page-tag-details::before {
  /* display: block; */
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.4);
}

/* Hero */

.hero-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hero-title::before {
  content: "Come join us";
  color: white;
  font-size: clamp(0.8rem, 3.5vw, 1.3rem);
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}

/* Flexbox */

.flex {
  display: flex;
}

.section-flex-cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.flex-row-gap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-m);
}

.flex-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-rev-flip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-rev-space {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* align-items: center; */
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-s);
}

.flex-col-cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

/* Grid */

.grid-section--1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap-l);
}

.grid-section--2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-l);
}

.grid-section--3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-l);
  grid-auto-flow: column;
}

.grid-section--4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-l);
}

.grid-section--5 {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gap-xxl);
}

.grid-section--footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: var(--gap-l);
}

/* Cards */

.card-purple {
  background: var(--color-1-trans);
}

.card-green {
  background: var(--color-2-trans);
}

.card-orange {
  background: var(--color-3-trans);
}

.card-dark {
  background: var(--color-4);
}

.card-lightdark {
  background: var(--color-4-trans);
}

.card-prop {
  border: var(--border-all);
  border-radius: var(--border-normal);
  /* min-height: min-content; */
  height: 100%;
  padding: 1.5rem;
}

/*** Height ***/

.specialevent-size {
  width: 100%;
  min-height: 400px;
}

.height-m {
  min-height: 20rem;
  border: 2px solid blue;
}

.height-l {
  min-height: 30rem;
}

/* Properties */

.img-prop {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-normal);
  transition: var(--transition-2);
}

.img-prop:hover {
  rotate: -1deg;
  filter: hue-rotate(10deg);
}

/* Buttons */

.btn-primary {
  color: white;
  background: var(--color-4);
}

.btn-primary:hover {
  background: var(--color-1);
  padding: 0.5rem 1.3rem;
  letter-spacing: 2px;
  rotate: 1deg;
}

.btn-purple {
  color: white;
  background: var(--color-1);
}

.btn-purple:hover {
  background: var(--color-3);
  padding: 0.5rem 1.3rem;
  letter-spacing: 2px;
}

.btn-primary-outline {
  color: var(--color-3);
  border: 2px solid var(--color-3);
  background: transparent;
}

.btn-primary-outline:hover {
  color: var(--color-1);
  border: 2px solid var(--color-1);
  background: transparent;
}

.btn-purple-outline {
  color: var(--color-1);
  border: 2px solid var(--color-1);
  background: transparent;
}

.btn-purple-outline:hover {
  color: var(--color-4);
  border: 2px solid var(--color-4);
  background: transparent;
}

.btn-green-outline {
  color: var(--color-2);
  border: 2px solid var(--color-2);
  background: transparent;
}

.btn-dark-outline {
  color: var(--color-4);
  border: 2px solid var(--color-4);
  background: transparent;
}

.btn-dark-outline:hover {
  color: var(--color-3);
  border: 2px solid var(--color-3);
}

.btn-prop {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: var(--border-normal);
  display: block;
  width: max-content;
  transition: var(--transition-2);
}

/****** Home ******/

.museum-image-1 {
  background-image: url(/images/museum-image-1.jpg);
  width: 100%;
}

.museum-image-2 {
  background-image: url(/images/museum-image-2.jpg);
  width: 100%;
}

.graphic-element-01 {
  width: min(100% - 1rem, 40rem);
}

.hours-section {
  display: flex;
  justify-content: space-between;
  width: min(100%, 20rem);
}

/****** Explore ******/

.page-explore-number::before {
  content: "02";
  display: block;
  font-size: 1.2rem;
}

.explore-kids-image-1 {
  background-image: url(/images/explore-kids-image-01.jpg);
  width: 100%;
  height: 270px;
}

.explore-kids-image-2 {
  background-image: url(/images/explore-kids-image-02.jpg);
  width: 100%;
  height: 270px;
}

.explore-image-1,
.explore-image-2 {
  width: 100%;
}

.kids-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap-l);
}

.kids-section-item:nth-child(1) {
  grid-row: 1 / 3;
}

.graphic-element-youngstar {
  position: absolute;
  right: 80px;
  top: -50px;
}

/****** Exhibition Spaces ******/

.page-exhibition-number::before {
  content: "03";
  display: block;
  font-size: 1.2rem;
}

.pos-relative {
  position: relative;
}

.corner-east {
  position: absolute;
  bottom: 0;
  right: 0;
  /**/
  margin: 1rem;
}

.exhibition-section {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

.exhibition-section:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.exhibition-section:nth-child(2) {
  grid-column: 2 / 4;
}

.exhibition-section:nth-child(3) {
  grid-column: 1 / 3;
}

.exhibition-section:nth-child(4) {
  grid-column: 2 / 4;
}

.exhibition-section:nth-child(5) {
  grid-column: 1 / 3;
}

.exhibition-img_01 {
  background-image: url(/images/exhibition-img_01.jpg);
}

.exhibition-img_02 {
  background-image: url(/images/exhibition-img_02.jpg);
}

.exhibition-img_03 {
  background-image: url(/images/exhibition-img_03.jpg);
}

.exhibition-img_04 {
  background-image: url(/images/exhibition-img_04.jpg);
}

.exhibition-img_05 {
  background-image: url(/images/exhibition-img_05.jpg);
}

/****** Special Events & Exhibitions ******/

.page-events-number::before {
  content: "04";
  display: block;
  font-size: 1.2rem;
}

.graphic-element-specialevent {
  width: min(100% - 1rem, 15rem);
}

.section-header {
  width: min(100% - 2rem, 50rem);
}

.article-margin {
  margin: 3rem;
}

.event-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event-card-item:nth-child(1) {
  order: 2;
}

.event-card-item:nth-child(2) {
  order: 1;
}

.event-image-1 {
  background-image: url(/images/specialevent_img_01.jpg);
}

.event-image-2 {
  background-image: url(/images/specialevent_img_02.jpg);
}

.event-image-3 {
  background-image: url(/images/specialevent_img_03.jpg);
}

.event-home-size {
  width: 100%;
  height: 290px;
}

/****** Visit ******/

.page-visit-number::before {
  content: "05";
  display: block;
  font-size: 1.2rem;
}

.museum-store-image-1 {
  background-image: url(/images/museum-store-image-1.jpg);
}

/****** Get involved ******/

.page-getinvolved-number::before {
  content: "06";
  display: block;
  font-size: 1.2rem;
}

.getinvolved-image-01 {
  background-image: url(/images/getinvolved-image-01.jpg);
}

.img-tester {
  min-height: 280px;
}

/* Footer */

.page-footer {
  background: var(--color-4);
  padding: 1rem 0.5rem;
}

.footer-text {
  color: white;
}

.nav-footer-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.some-icons {
  color: white;
  font-size: 1.6rem;
}

.fa-facebook::after {
  content: "Facebook";
  font-family: "Space Grotesk", sans-serif;
  margin-left: 1rem;
  font-size: var(--font-paragraph);
  transition: var(--transition-1);
}

.fa-snapchat::after {
  content: "Snapchat";
  font-family: "Space Grotesk", sans-serif;
  margin-left: 1rem;
  font-size: var(--font-paragraph);
  transition: var(--transition-1);
}

.fa-instagram::after {
  content: "Instagram";
  font-family: "Space Grotesk", sans-serif;
  margin-left: 1rem;
  font-size: var(--font-paragraph);
  transition: var(--transition-1);
}

.fa-facebook:hover::after,
.fa-snapchat:hover::after,
.fa-instagram:hover::after {
  color: var(--color-3);
}
